<div class="container-fluid">
  <div class="auth row justify-content-center">
    <div
      class="auth__cover auth--image d-none d-md-block col-md-7 col-ld-8"
    ></div>
    <div class="logo">
      <img class="logo__image" src="../../../assets/sm.png" alt="logo" />
      <span class="logo__title">
        STOCK MARKET
      </span>
    </div>
    <div class="auth__form col-12 col-md-5 col-ld-4">
      <mat-card class="auth_form--outlet">
        <router-outlet></router-outlet>
      </mat-card>
    </div>
  </div>
</div>
