mat-toolbar-row {
  justify-content: space-between;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__image {
  margin: .5rem;
  width: 4rem;
}

.logo__title {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: .2rem;
}
